h1{
 color:purple;
 }
/**{
          border: solid;        
}*/
.header{
    background-color:orange;
    display:flex;
    justify-content: space-between;
}     

.grid{

    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display:flex;
    justify-content:flex-end;
  
    
}

h2,p{

     text-align:center;
     
}